html, body
{
    font-family: Raleway;
    text-decoration: none;
}

.flexCenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sousLignageLiens
{
    text-decoration: none;
}

.bordureNon
{
    border: none;
}

/*Navigation header*/

.sousLignageLien
{
    width: 140px;
    height: 99px;
}

.espacementLiens
{
    width: 45%;
}

.couleurLiens
{
    color: blue;
}

.couleurLiens2
{
    color: black;
}

.bordureNavigationHebergements
{
    border-top: 1px solid black;
}

.margeLogoReservia
{
    margin-bottom: 10px;
}

/*Navigation header section */

.bordureRecherche
{
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #F2F2F2;
}

.Recherche
{
    height:50px;
    width:230px;
    font-size:18px;
    color: black;
    font-weight: bold;
}

.tailleLogoMap
{
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}

.paddingRecherche
{
    padding-left: 20px;
}

.boutonRecherche
{
    height: 50px;
    width: 120px;
    color:white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.fondGris
{
    background-color: #F2F2F2;
}

.fondBleu
{
    background-color: #0065FC;
}

/*FILTRES*/

.margesFiltres
{
    margin-top: 50px;
    margin-bottom: 40px;
}

.filtres
{
    display: flex;
    align-items: center;
}

.margesTitre
{
    margin-right: 20px;
}

.filtresTexteIcone
{
  border: 2px solid #F2F2F2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
} 

.filtresTexteIcone:hover > .filtreTexte 
{
    color: #0065FC;
}

.filtresTexteIcone:hover > .filtreIcone
{
    color: white;
    background-color: #0065FC;
}

.filtreTexte
{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

.filtresIcone
{
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color:#0065FC;
    background-color:#DEEBFF;
}

/*ICONE INFO*/

.info
{
    display: flex;
    align-items: center;
}

.iconeInfo
{
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 5px;
}

.couleurBleu
{
    color: blue;
} 


/*HEBERGEMENTS*/

.tailleHebergements
{
    flex: 2;
    height: 700px;
    margin-right: 20px;
    border-radius: 10px;
}

.taillePopulaires
{
    flex: 1;
    height: 700px;
    width: auto;
    margin-left: 20px;
    margin-right: 50px;
    border-radius: 10px;
}

.blocHebergements
{
    padding-left: 30px;
    padding-right: 40px;
}

.bloc1
{
    margin-bottom: 10px;
}

.bloc2
{
    margin-top: 10px;
}

.carréHebergements
{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}

.cubeDescriptionsHebergements
{
    width: 98%;
}

.imgHebergements1
{
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 120px;
}    

.imgHebergements2
{
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 120px;
} 

.imgHebergements3
{
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 120px;
}    

.imgHebergements4
{
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 120px;
}    

.imgHebergements5
{
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 120px;
}    

.imgHebergements6
{
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 120px;
}    
